---
import { Image } from 'astro:assets';
import type { SpecialtyType } from '../types'

type Props = {
    specialty: SpecialtyType;
}

const {specialty} = Astro.props;
---

<div class="bg-zinc-800 ml-4 px-4 pb-4 shadow-lg flex flex-col justify-between">
    <h3 class="bg-white text-zinc-800 font-extrabold text-lg inline-block -translate-x-8 -translate-y-4 px-4 py-2 shadow-lg">
        { specialty.specialty }
    </h3>

    <div>
        <div class="space-y-4">
            { specialty.main_paragraphs.map(paragraph => 
                <p class="text-white font-bold">
                    { paragraph }
                </p>
            ) }
        </div>
    
        <div class="flex mt-6 items-center justify-between">
            <picture class="w-14 h-14 bg-white rounded-full p-2 grid place-content-center">
                <Image 
                    src={specialty.icon}
                    alt={`Icono de la Especialidad de ${specialty.specialty}`}
                    title={`Icono de la Especialidad de ${specialty.specialty}`}
                />
            </picture>
    
            <a 
                href={`/specialties/${specialty.id}`} 
                class="text-white rounded-full p-2 border border-white shadow shadow-white hover:bg-zinc-700 transition-colors"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>              
            </a>
        </div>
    </div>

</div>