---
import { ViewTransitions } from 'astro:transitions';
import { Image } from 'astro:assets';
import Logo from '../components/Logo.astro';
import MainHero from '../components/MainHero.astro';
import MainNav from '../components/MainNav.vue'
import DGETI from '../assets/icons/dgeti.webp';
import SEP from '../assets/icons/sep.webp';
import LOGO211 from '../assets/icons/logo_211.webp';
import Footer from '../components/Footer.vue';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={DGETI.src} />
		<meta name="generator" content={Astro.generator} />
		<title>CBTIS 211 | {title}</title>

		<ViewTransitions />
	</head>

	<body class="bg-zinc-100">
		<MainHero />
		
		<MainNav client:visible >
			<Logo slot="logo" />
		</MainNav>

		<slot />

		<Footer client:visible>
			<Image 
				src={SEP}
				alt="Logo de la SEP"
				title="Logo de la SEP"
				slot="logo-sep" 
			/>

			<Image 
				src={LOGO211}
				alt="Logo del Cbtis 211"
				title="Logo del Cbtis 211"
				slot="logo-211" 
			/>

			<Image 
				src={DGETI}
				alt="Logo de la DGETI"
				title="Logo de la DGETI"
				slot="logo-dgeti" 
			/>
		</Footer>
	</body>
</html>